In [11]:
import pandas as pd 
from sqlalchemy import create_engine 
 
db_config = {'user': 'praktikum_student', # имя пользователя 
            'pwd': 'Sdf4$2;d-d30pp', # пароль 
            'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net', 
            'port': 6432, # порт подключения 
            'db': 'data-analyst-zen-project-db'} # название базы данных 
 
connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'], 
                                                db_config['pwd'], 
                                                db_config['host'], 
                                                db_config['port'], 
                                                db_config['db']) 
 
engine = create_engine(connection_string) 
 
query= ''' SELECT *  
      FROM dash_visits 
      ''' 
 
dash_visits = pd.io.sql.read_sql(query, con = engine) 
 
dash_visits.to_csv('https://drive.google.com/file/d/1L1aNZHcKBZCWeL274UwZkIs_8a8IHoA0/view?usp=sharing')

In [12]:
dash_visits

,record_id,item_topic,source_topic,age_segment,dt,visits
0,1040597,Деньги,Авто,18-25,2019-09-24 18:32:00,3
1,1040598,Деньги,Авто,18-25,2019-09-24 18:35:00,1
2,1040599,Деньги,Авто,18-25,2019-09-24 18:54:00,4
3,1040600,Деньги,Авто,18-25,2019-09-24 18:55:00,17
4,1040601,Деньги,Авто,18-25,2019-09-24 18:56:00,27
...,...,...,...,...,...,...
30740,1071337,Юмор,Финансы,36-40,2019-09-24 18:57:00,2
30741,1071338,Юмор,Финансы,36-40,2019-09-24 19:00:00,1
30742,1071339,Юмор,Финансы,41-45,2019-09-24 18:54:00,1
30743,1071340,Юмор,Финансы,41-45,2019-09-24 18:56:00,1
30744,1071341,Юмор,Финансы,41-45,2019-09-24 19:00:00,1